.product{
    width: calc(20% - 20px);
    min-height: 300px;
    border: 1px solid var(--soft-gray);
    margin: 10px;
    cursor: pointer;
    float: left;
    border-bottom: 5px solid var(--secondary-color);
    background-color: var(--white);
}

.product .photoframe{
    width: 100%;  
    background-color: var(--white);
}

.product .photoframe .photo {
    width: 100%;
    background-position: center center;
    background-size: cover;
    transition: all .5s;
    background-color: var(--white);
}

.product .photoframe .photo::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.product .name{
    width: 100%;
    padding: 10px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    padding-bottom: 0;
    background-color: var(--white);
}

.product .code {
    width: 100%;
    height: 15px;
    font-size: 15px;
    color: var(--default-gray);
    padding: 10px;
    background-color: var(--white);
}

.product .price{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    height: 30px;
    font-size: 1.4em;
    line-height: 30px;
    background-color: var(--white);
}

.product .btn-add-to-cart{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 80%;
    margin: 10%;
    background-color: var(--green-button);
    border: none;
    color: var(--white);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: .8em;
    outline: none;
}

.product .btn-add-to-cart:hover{
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media (max-width: 600px)
{
  .product
   {
    width: calc(100% - 20px);
   }
}