#liven-header{
    width: 100%;
    height: 160px;
    background-color: var(--main-color);
    position: absolute;
}

#liven-header #liven-header-container{
    max-width: 75rem;
    height: 130px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}

#liven-header #liven-header-container #logo{
    background-image: url('../../Assets/Images/logo.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 150px 50px;
    width: 300px;
    height: 100%;
    background-color: var(--main-color);
    cursor: pointer;
    margin-left: 30px;
}

#name{
    background-color: var(--secondary-color);
    width: 100%;
    height: 30px;
    text-align: center;
    color: var(--white);
    line-height: 30px;
    font-size: 17px;
}

#cart{
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
    width: auto;
    order: 2;
    margin-left: auto;
}

#cart:hover{
    text-decoration: underline;
}

#cart-icon{
    width: 20px;
    height: 20px;
    background-image: url('../../Assets/SVG/shopping-cart.svg');
    background-position: center center;
    background-size: contain;
    background-color: var(--main-color);
    float: right;
    margin-left: 10px;
    margin-right: 30px;
}

@media (max-width: 600px)
{
    #liven-header, #liven-header #liven-header-container{
        height: 50px;
    }

    #liven-header #liven-header-container #logo{
        width: 50px;
        background-size: contain;
    }
}