#liven-product-list{
    width: 100%;
    height: auto;
    float: left;
    padding-top: 25px;
}

#page-name{
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.line-divider{
    width: 100%;
    height: 1px;
    background-color: var(--soft-gray);    
}

#products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#is-loading{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.notification-container .notification-message .message{
    position: fixed;
    background-color: var(--green-button) !important;
    right: 30px;
    top: 170px;
    color: var(--white);
    width: 250px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 600px)
{
    .notification-container .notification-message .message{
        top: 100px;
    }

    #liven-product-list{
        padding-top: 10px;
    }

    #page-name{
        font-size: 1.5em;
        padding-left: 10px;
        margin-top: 0;
    }

}